body {
    background-color: lightgray;
}

#searchIntro {
    margin-top: 60px;
}

#siteResults .site {

    background-color: whitesmoke;
    box-shadow: 2px 2px 1px rgb(70, 70, 70);
    width: 350px;
    margin: 10px 10px 10px 10px;
}

.form-field {
    margin: 5px 0 5px 0;
}

.capitalize {
    text-transform: capitalize;
}

.row {
    margin: 15px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
}
