{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Search</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>

<div id="app">

    <div id="searchIntro">
        Search for sites below. All data is from the Mineral Resources Data System. Clicking on 'More Information' on a
        specific site will direct you to the MRDS information for that site.
    </div>

    <div>
        <form ref="siteForm" method="post" action="{% url 'site_search' %}" class="form" enctype="multipart/form-data"
              v-on:submit.prevent="submitSiteSearch">
            {% for field in form %}
                <div class="form-field">
                    {{ field.label }}
                    {{ field }}
                </div>

            {% endfor %}

            <button type="submit">Submit</button>
            {% csrf_token %}
        </form>
    </div>

        <div id="siteResults">
            <ul v-for="(site, index) in searchResults">

                <li>
                    <div>
                        [[ site.site_name ]]

                    </div>

                </li>

            </ul>

        </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>

</html>
