{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Search</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>

<div id="app">

    <div id="searchIntro">
        Search for sites below. All data is from the Mineral Resources Data System. Clicking on 'More Information' on a
        specific site will direct you to the MRDS information for that site.
    </div>

    <div>
        <form ref="siteForm" method="post" action="{% url 'site_search' %}" class="form" enctype="multipart/form-data"
              v-on:submit.prevent="submitSiteSearch">
            {% for field in form %}
                <div class="form-field">
                    {{ field.label }}
                    {{ field }}
                </div>

            {% endfor %}

            <button type="submit">Submit</button>
            {% csrf_token %}
        </form>
    </div>

    <div id="siteResults">
        <button class="button" style="margin-top: 10px;" v-on:click.prevent="clearSiteSearchResults"
                v-show="showResultActions">Clear Results
        </button>

        <div class="row" v-for="i in rowCount">
                <div class="site column" v-for="site in itemCountInRow(i)">
                    <div class="capitalize">
                        <strong>[[ site.site_name ]]</strong>
                    </div>
                    <div class="capitalize">
                        [[ site.county ]], [[ site.state ]]
                    </div>
                    <div>
                        Primary Commodities: [[ site.commodity_1 ]]
                    </div>
                    <div>
                        Secondary Commodities: [[ site.commodity_2 ]]
                    </div>
                    <div>
                        Tertiary Commodities: [[ site.commodity_3 ]]
                    </div>
                    <div>
                        <a v-bind:href="site.mrds_url" target="_blank">More Information</a>
                    </div>
                </div>
        </div>

    </div>

    <div v-show="showResultActions">
        Page [[ currentPage ]] of [[ totalPages ]]
        <button data-direction="backward" :disabled="prevResultsBtnDisabled" v-on:click.prevent="changeResultsPage">
            Previous
        </button>
        <button data-direction="forward" :disabled="nextResultsBtnDisabled" v-on:click.prevent="changeResultsPage">
            Next
        </button>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>

</body>

</html>
